/*
  Box Model:
  -solo funciona en elementos 
     display:block; 
  - div la tiene por defecto
  -comportamiento por defectol:
     - ocupa todo el ancho de pantalla
  - funciona si:
     -los ementos tienen contenido 
     o tienen un tamaño definido 
  -Margin:
     -Deterima el espacio entre los elementos
     - solo aplica a elementos display block
     - Computado de margenes
     - Colapso de margenes
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box{
    border-top-color: cornflowerblue;
    border-top-style: dashed;
    border-top-width: 10px;
    border-right-color:purple;
    border-right-style:  dotted;
    border-right-width: 8px ;
    border-left-color:  peru;
    border-left-style: double;
    border-left-width:  10px;
    border-bottom-color:  rgb(181, 251, 173);
    border-bottom-style: groove;
    border-bottom-width:  10px;


}
    
    
.box1{
    margin: 20px 40px ;
    background: pink;
    padding: 50px  45px 3px ;
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 10px;
  
}
.box2{
    background: plum;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    padding: auto;
    text-align: center;
    justify-content: center;

}